body{
    display: flex;
    justify-content: center;
    align-items: center;

}

.feedback-form {
    width: 380px;
    margin:40px;
    padding: 8px;
    border: 1px solid #cccc;


}

label {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    font-size: 14px;
}



textarea, input{
    margin-top: 8px;
    padding: 12px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    
}

button{
    display: block;
    width: 120px;
    padding: 12px;
    margin: 0 auto;
    font-size: 16px;
    border-radius: 15px;
    background-color: blanchedalmond;
}